<div class="table">
  <div class="table__filter">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="table__data mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
        <td mat-cell *matCellDef="let user">
          <div class="d-flex">
            <img src="{{user.profile_picture}}" alt="profile_picture" class="profile-picture">
            <div>
              <div class="font-w-500">{{user.name}}</div>
              <div class="text-grey">{{user.email}}</div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
      </ng-container>

      <!-- Register Date Column -->
      <ng-container matColumnDef="register_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Registered </th>
        <td mat-cell *matCellDef="let user"> {{user.register_date}} </td>
      </ng-container>

      <!-- IP Address and Last Login Column -->
      <ng-container matColumnDef="last_login">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-4"> Login History </th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngFor="let ll of user.last_login[0]">
            <!--<div class="bullet">Logged in {{ll.login_datetime | date}} <br> from IP {{ll.ip_address}}</div>-->
            <ul>
              <li>Logged in {{ll.login_datetime | date}} <br> from IP {{ll.ip_address}} </li>
            </ul>
          </ng-container>
        </td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-4"> Location </th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngFor="let loc of user.location">
            <ul *ngIf="loc.latitude">
              <li>{{loc.latitude | number: '2.1-2'}}, {{loc.longitude | number: '2.1-2'}}</li>
            </ul>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewUserDetails(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
