@import 'assets/scss/_variables.scss';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$home-feets-primary: mat-palette($mat-pink);
$home-feets-accent: mat-palette($mat-indigo, A200, A100, A400);

// The warn palette is optional (defaults to red).
$home-feets-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$home-feets-theme: mat-light-theme((
  color: (
    primary: $home-feets-primary,
    accent: $home-feets-accent,
    warn: $home-feets-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($home-feets-theme);

/* You can add global styles to this file, and also import other style files */

/* ======== CSS Resets ======== */
html, body { height: 100%; margin: 0; padding: 0; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

* { box-sizing: border-box; }

ul, ol { margin: 0 0 0.5rem; padding: 0 0 0 1rem; }
ul { padding-inline-start: 10px !important; }

table { width: 100%; border-collapse: collapse; }
th {
  text-align: left;

  .mat-sort-header-sorted {
    color: $darkGrey;
  }
}
td { vertical-align: middle; color: grey; }

/* ======== General styles ======== */
.container { padding: 2rem; }
.cursor-pointer { cursor: pointer; }
.icon-size { font-size: 1.5rem; }
.mr-3 { margin-right: 1rem; }

.font-sm { font-size: 0.9rem; }

/* ======== Flexbox ======== */
.d-flex { display: flex !important; }
.align-items-center { align-items: center !important; }
.justify-content-center { justify-content: center !important; }
.justify-content-between { justify-content: space-between !important; }

